
  <header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }

      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    <!-- Navbar -->

        <!-- Navbar brand -->

            <!-- Icons -->

    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
      <h1 class="mb-0 h4">Aktiviti dan Sumbangan</h1>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-5">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            <img src="https://scontent.fkul2-3.fna.fbcdn.net/v/t1.6435-9/191194037_942592786517308_2182103357235056234_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=dnCEagdTyngAX_A-4wI&_nc_ht=scontent.fkul2-3.fna&oh=9a4e857983ba13f4d75c2286d7394634&oe=60C9E6CB"
              class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
                <center>Para belia ke program Karnival Pelajaran</center>
              <br>


            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img src="https://scontent.fkul2-4.fna.fbcdn.net/v/t1.6435-9/192790994_942560799853840_3540613734493411246_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=SsBm_FnVQCAAX9xycjQ&_nc_oc=AQlZyuVCjll-5oTE87YCWMkDUwvg2CWT_2NWGEa6Onofxq36qgrY1KNzwSUIrHStekjsEyXxDe-cFDLlOwWjHgD6&_nc_ht=scontent.fkul2-4.fna&oh=846f0a766035146302ab07d41fd0d060&oe=60C9CD33" class="rounded-5 shadow-1-strong me-2"
                  height="35" alt="" loading="lazy" />
                <span> Diterbitkan <u>12.06.2021</u> oleh</span>

                <a href="https://www.facebook.com/chikepips" class="text-dark">Mercella Lea Nazalus</a>
              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1">
                  <i class="fas fa-comments"></i>
                </button>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->

          <!--Section: Text-->
          <section>

            <p>Harapan Youth Affair adalah untuk melihat generasi muda yang berpendidikan dan melahirkan pemimpin yang berjaya.
               Dan ANDA boleh menjadi salah satu penyumbang kepada pelajar untuk mencapai impian mereka melanjutkan pelajaran ke tahap yang lebih tinggi.
               Klik butang di bawah untuk menjadi salah seorang penyumbang.
            </p>



            <p><strong>Tidak kira seberapa kecil sumbangan anda, ia mempunyai impak yang besar.</strong></p>
            <br>
            <p><strong>Sumbangan anda akan digunakan untuk tujuan berikut;</strong></p>

            <p>
              1. Dana Melanjutkan Pelajaran
              - Sumbangan anda digunakan untuk membantu dari segi yuran pentadbiran atau
              yuran kemasukan khususnya bagi pelajar yang tidak berkemampuan untuk melanjutkan pelajaran.
            </p>

            <p>
              2. Aktiviti bimbingan untuk pelajar
              - Kami akan bekerjasama dengan pembimbing kerjaya/kaunseling atau individu profesional untuk memberi bimbingan dan
              kelas kepada pelajar sebagai persediaan untuk melanjutkan pelajaran.
              Sumbangan anda digunakan untuk menampung aktiviti tersebut dari segi bayaran perkhidmatan atau pembelian bahan pelajaran.
            </p>
            <br>

            <p>
              3. Penyelenggaran dan pentadbiran
              - Sebahagian kecil sumbangan akan disalurkan untuk membantu dalam penyelenggaraan laman web dan kos pentadbiran.
              begini ja la haha kalau kau nda mau kasi masuk pun dari kau seja. ni ja sy boleh pikir setakat ini,kecuali kalau kau ada idea lain la
            </p>

            <img src="https://scontent.fkul2-2.fna.fbcdn.net/v/t1.6435-9/196845048_942557906520796_1876748126873690690_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=6HOGya0ESz4AX-NbQk6&tn=FSkHCpmsSVnFqRVe&_nc_ht=scontent.fkul2-2.fna&oh=cce95f0c120acf9c0090aa4c79c46efb&oe=60C9CCBA" class="img-fluid shadow-1-strong rounded-5 mb-4"
              alt="" />
            <center>Aktiviti ke pantai selepas mengisi borang pendaftaran Upu</center>
            <br>


            <p>
            apa yang kami harapakan adalah biarlah generasi muda kita akan terus bertumbuh
            dalam pedidikan agar mereka boleh menjadi pencetus untuk generasi pada masa hadapan,
            kerana mereka yang akan menjadi sokongan dalam pembangunan sektor ekonomi dan sektor
            penbangunan
            </p>
          </section>
          <!--Section: Text-->

          <!--Section: Share buttons-->
          <section class="text-center border-top border-bottom py-4 mb-4">
            <p><strong>Kongsikan kepada rakan - rakan</strong></p>

            <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
              <i class="fab fa-linkedin"></i>
            </button>
            <button type="button" class="btn btn-primary me-1">
              <i class="fab fa-youtube "></i>
            </button>
          </section>
          <!--Section: Share buttons-->

          <!--Section: Author-->
          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
                <img src="https://scontent.fkul2-4.fna.fbcdn.net/v/t1.6435-9/192790994_942560799853840_3540613734493411246_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=SsBm_FnVQCAAX9xycjQ&_nc_oc=AQlZyuVCjll-5oTE87YCWMkDUwvg2CWT_2NWGEa6Onofxq36qgrY1KNzwSUIrHStekjsEyXxDe-cFDLlOwWjHgD6&_nc_ht=scontent.fkul2-4.fna&oh=846f0a766035146302ab07d41fd0d060&oe=60C9CD33"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Mercella Lea Nazalus</strong></p>
                <a href="https://www.facebook.com/chikepips" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
              </div>
            </div>
          </section>
          <!--Section: Author-->

          <!--Section: Comments-->
          <section class="border-bottom mb-3">
            <p class="text-center"><strong>Sumbangan</strong></p>

            <!-- Comment -->
            <div class="row mb-4">
              <div class="col-2">
                <img src="https://scontent.fkul2-2.fna.fbcdn.net/v/t1.6435-9/186558400_102428668734795_8580024314764454688_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=81PaHYcHKtoAX8x3Eo9&_nc_ht=scontent.fkul2-2.fna&oh=01751e4304b6a0609d7fe83b486b86eb&oe=60CA4323"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-10">
                <p class="mb-2"><strong>Youth Affair</strong></p>
                <p>
                  jika anda ingin membantu oraganisasi ini
                  lebih bertumbuh dan membantu lebih ramai lagi
                  remaja untuk Melanjutkan pelajar anda boleh menekan butang dibawa
                  TERIMA KASIH!.
                </p>
                <br>
                    <a href="https://buy.stripe.com/7sIcQP2fCcgfdlm8wy" class="btn btn-primary">Sumbangan</a>
              </div>
            </div>
          <!--Section: Comments-->

          <!--Section: Reply-->

              <!-- Name input -->

              <!-- Email input -->


              <!-- Message input -->


              <!-- Checkbox -->

              <!-- Submit button -->

          <!--Section: Reply-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <div class="bg-image hover-overlay ripple mb-4">
                <img
                  src="https://scontent.fkul2-3.fna.fbcdn.net/v/t1.6435-9/193558198_942557713187482_2525488728517216761_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=6a1TB0tSOn0AX8reWPH&_nc_ht=scontent.fkul2-3.fna&oh=5633e9e965193851102ddc59c4dcb4bc&oe=60C9E3B4"
                  class="img-fluid" />
                <a href="https://mdbootstrap.com/docs/standard/" target="_blank">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>
              <h5>Testimoni</h5>

              <p>
                Okay first of all, sebenarnya masa yang lepas saya habis spm, saya tidak ada hala
                   tuju baa. Tpi kawan saya inut(bukan nama sebenar), dia kasi kenal saya dengan satu oraganisasi
                   nama ini oraganisasi ialah Youth Affair ,
                  yang mana itu mereka sudah pernah sambung belajar dan sudah
                  berkerja. Jadi saya pun ikut aktiviti mereka lah , dan disana mereka menolong saya untuk  isi upu , selepas itu
                  mereka beri pilihan kalau saya minat ini mereka suruh mana kolej patut saya masuk,
                   tetapi mereka layan macam sudah lama kenal seperti keluarga. selepas menunggu keputusan Upu,
                   ahkirnya saya dapat krusus Kejuruteraan mekatronik. Sayaa rasa  sangat bersyukur sama gembira sebab dapat juga smbung belajar.
                   Lepastu tme persiapan pndftran sma masuk skolah drg pun banyk betul membantu ni smpai yg kalau mau
                   ucap terima kasih seja pun rasa tidak ckup. dan syukur sekarng saya sudah  sampai sem 2 dan akan ada 6 sem lagi untuk
                    lalui, ini semua atas bantuan mereka. Last but not least,sya tida dpt explain macam mana tu rasa betul - betul
                   bersyukur sama gembira sya jumpa mereka . Sebab mereka la sekarang saya sambung belajar kalau sya tidak kenal
                    mereka mungkin sekarang saya masi lagi menganggur. Thankyou!❤️
              </p>
              <br>

              <p>Claudia Adele Janarius(Pelajar Politeknik dalam Diploma Kejuruteraan Mekatronik)</p>
            <!--Section: Ad-->

            <!--Section: Video-->

            <!--Section: Video-->
          </section>
          <!--Section: Sidebar--
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://www.facebook.com/Youth-Affair-102397308737931">www.youthaffair.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
