<div class="bg-image" style="background-image: url('https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 100vh">

<%= link_to 'back', menu_index_path %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Cara masuk universiti berdasarkan Kredit Spm</h1>
      <div class="row">
      <p style="text-align: justify">
                </p>
          <p> </p>
          <br>
          <ul>

          </ul>
          <br>
          <strong>UKM Law Programme (KL00)
          8 semesters/ 4 years <br>
        <br>
          <br>
          <ul>1. From STPM
          * Muet band 4
          * CGPA 3.0
          * Ada interview

          </ul>
          </ul>
          <ul>
            2. From Asasi
            * higher chance if you’re from Asasi Law - CGPA 3.0
            * Muet band 4
            * Asasi law ada dari UiTM Kod PI007 (intake 2 kali setahun, first isi UPU, second di Portal UiTM)
          </ul>


            <ul>3. Diploma Undang-undang ; Diploma Pentadbiran Awam ; Diploma ‘aliran sains/kejuruteraan’
            * CGPA 3.0
          <br>
            Source:<a href="https://www.ukm.my/portal/wp-content/ug/2018/syarat20182019/STPM_Matrikulasi_Diploma_Setaraf.pdf" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
          <br>
          <br>
            The easiest way,
            Masuk Asasi Law UiTM KPTM PI007</ul>

            <ul>* Atleast 3As SPM (priority to more excellent students)
            * Elaun 1 sem RM1900</ul>

            <ul>* Yuran murah sikit banding yang lain</ul>
            <ul>* After habis then apply Law degree UKM</ul>
            <ul>Source: <a href="https://asasi.uitm.edu.my/web/law-foundation/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a></ul>
            <br>
            <ul>Requirements for UKM Degree: <a href="http://www.ukm.my/fuu/wp-content/uploads/2019/08/SYARAT-KEMASUKAN-PROGRAM.pdf" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a></ul>
                <br>
                <br>
                
                <br>
              <br>
                </div>
                </div>
          </div>
