<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
  </head>
  <body>
    <!-- Start your project here-->

    <!--Main Navigation-->
<header>
  <!-- Navbar -->

      <!-- Navbar brand -->



          <!-- Icons -->

  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center text-md-start">
      <h4 class="mb-5"><strong>Organisasi kami </strong></h4>

      <!-- Post -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul4-3.fna.fbcdn.net/v/t1.6435-9/186558400_102428668734795_8580024314764454688_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=81PaHYcHKtoAX8x3Eo9&_nc_ht=scontent.fkul4-3.fna&oh=ee54633d067e0f2ccee499d7a2449e9e&oe=60C848E3" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <br>
        <br>


        <div class="col-md-8 mb-4">
          <h5>Youthaffair</h5>
          <p>
            Organisasi Youth Affair mula ditubuhkan pada tahun 2007. Matlamat utama organisasi Youth Affair
             adalah untuk menekankan kepada pelajar lepasan SPM tentang kepentingan
            pendidikan dalam menentukan kerjaya masa depan.
             Youth Affair menawarkan bantuan kepada pelajar melanjutkan
            pelajaran yang ke pengajian tinggi dari proses pemilihan program, mencari kolej/univerisiti yang
            terbaik untuk mereka sehinggalah kepada proses permohonan dan kemasukan ke kolej/universiti.
            Selain itu, Youth Affair melihat kepada usaha untuk membantu pelajar meningkatkan kemahiran asas
            seperti kemahiran berkomunikasi, kemahiran asas komputer dan lain-lain dengan membimbing pelajar
            melalui proses bimbingan untuk memastikan mereka bersedia dan bersemangat untuk melanjutkan pelajaran.
          </p>

          <br>
          <br>
          <br>

          <a type="button" class="btn btn-primary" href="https://www.facebook.com/Youth-Affair-102397308737931">facebook</a>
        </div>
      </div>
      <br>
      <br>

      <!-- Post -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul4-2.fna.fbcdn.net/v/t1.6435-9/195472794_4188004304595876_4487731201666424541_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=SionRk_rbPcAX_XJQyO&_nc_ht=scontent.fkul4-2.fna&oh=c7b6d6415cf45565e4470928e000ee25&oe=60E7CFBF" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <h5>Mikhae Joshua Nazalus (NDT Inspector)</h5>

          <p>
            Kegagalan bukan satu tanda untuk putus asa, tapi kekuatan untuk terus maju dan berjaya.
          </p>
          <br>
          <br>
          <br>
        <a type="button" class="btn btn-primary" href="https://www.facebook.com/mikhael.joshua.1">facebook</a>

        </div>
      </div>
      <br>
      <br>
      <br>

      <!-- Post -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul4-4.fna.fbcdn.net/v/t1.6435-9/198983707_941544379955482_5592889898607971327_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=nZHG_mzZSsMAX8iVelu&_nc_ht=scontent.fkul4-4.fna&oh=36d7307852d2ad28f61b5c90681770d4&oe=60E947D7" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <h5>Lisa Elizebeth (Medical Laboratory Scientists)</h5>
          <p>
          Anda memiliki dua pilihan sepanjang hayat. Sakit kerana ingin berubah atau sakit kerana tidak berubah.
          </p>
          <br>
          <br>
          <br>


        <a type="button" class="btn btn-primary" href="https://www.facebook.com/elizabeth.gindamin">facebook</a>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul2-4.fna.fbcdn.net/v/t1.6435-9/198088630_942593333183920_5006708640027994765_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=Dy-RU-ChLGwAX-eVwNA&_nc_oc=AQmVpiR_UOeLP52FN4ymcAj0VcoUPXmYAmFZ8fo2h8UAoaFKWGWzrRt9hxywHVyFVetKkJ_6N3gTTvYie4h-Uv6W&_nc_ht=scontent.fkul2-4.fna&oh=56e5f2d7902dd9262a99fcff535f74b9&oe=60CA0DC4" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <h5>Kheven Lee (Vibration Analyst)</h5>
          <p>
            Lakukan sesuatu yang akan berterima kasih kepada diri masa depan anda.

          </p>
          <br>
          <br>
          <br>



        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul2-2.fna.fbcdn.net/v/t1.6435-9/75576400_2480895402024306_421458891579064320_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=XPxpJYUAeb8AX-VV2aK&_nc_ht=scontent.fkul2-2.fna&oh=e550393a23691a591143073ee4cde23a&oe=60C956EC" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <h5>Alven Joshua(Pelajar Kolej Vokasianal)</h5>
          <p>
          Menjadi pelajar selagi anda masih mempunyai sesuatu untuk belajar, dan ini bermakna seluruh hidup anda
          </p>
          <br>
          <br>
          <br>


                  <a type="button" class="btn btn-primary" href="https://www.facebook.com/alven.josh">facebook</a>
                  </div>
                </div>
                <br>
                <br>
                <br>

                <div class="row">
                  <div class="col-md-4 mb-4">
                    <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                      <img src="https://scontent.fkul2-4.fna.fbcdn.net/v/t1.18169-9/12004870_10207035750599926_7317822853316739333_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=WyZXlUHs9JEAX8Cy_j8&_nc_ht=scontent.fkul2-4.fna&oh=6ace7d00c46c1bf12aa311eac75f2f68&oe=60CA0A23" class="img-fluid" />
                      <a href="">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                  </div>

                  <div class="col-md-8 mb-4">
                    <h5>Mc lister Myron(Freelance electrician)</h5>
                    <p>
                    Kegagalan bukanlah pilihan untuk berhenti berusaha untuk terus maju tetapi langkah pertama dalam menuju kejayaan
                    </p>
                    <br>
                    <br>
                    <br>



        <a type="button" class="btn btn-primary" href="https://www.facebook.com/mc.lister.5">facebook</a>
        </div>
      </div>
      <br>
      <br>
      <br>

      <!-- Post -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
            <img src="https://scontent.fkul4-2.fna.fbcdn.net/v/t1.18169-9/12032010_1193164710710603_5054578237241870443_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=JGJKyAu24k4AX8o0U0f&_nc_ht=scontent.fkul4-2.fna&oh=d2a9af1abc0ffa8fbe70790715e88082&oe=60E6BBFB" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <h5>Raj Mohar Pilai (Engineer Api 510 Inspector)</h5>
          <p>
            Pendidikan adalah jawapan untuk keluar dari
            kepompong kemiskinan
          </p>
          <br>
          <br>
          <br>
        <a type="button" class="btn btn-primary" href="https://www.facebook.com/red.cocroach">facebook</a>
        </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>



    <!--Section: Content-->

    <!-- Pagination -->

<!--Main layout-->

<!--Footer-->



  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">www.Youthaffair.com</a>
  </div>
  <!-- Copyright -->

<!--Footer-->
    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
