<h1 id="page_title">Terima kasih pesanan anda telah dihantar</h1>

 <div class="skinny_wrapper wrapper_padding">
   <h1></h1>
   <p>kami akan menghubungi anda dalam masa terdekat</p>
   </div>
   <%= link_to 'Back', new_user_session_url %>
