<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Support us</h1>
      <div class="row">
      <p style="text-align: justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <br>
      <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
    <p style="text-align: justify">Hubungi kami ➔➔➔➔ </p>
    <br>
      <div class="btn-group" role="group" arial-label="Basic example">
      <button type="button" onclick="window.location.href ='https://buy.stripe.com/9AQeYX2fC7ZZgxyfYY';" class="btn btn-secondary">Donate</button>
      <button type="button" onclick="window.location.href ='https://www.facebook.com/Youth-Affair-102397308737931';" class="btn btn-secondary">Twitter</button>
      <button type="button" onclick="window.location.href ='https://www.facebook.com/Youth-Affair-102397308737931';" class="btn btn-secondary">Instagram</button>

      </div>
      </div>

      <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_HKteJJykYGSUZI/view" data-text="Pay Now" data-color="#528FF0" data-size="large">
        <script>
          (function(){
            var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
            if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
            s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
            rzp && rzp.init && rzp.init()}})();
        </script>
      </div>
