<h1>Bimbingan</h1>

<p>Pada muka surat ini , akan membimbing anda untuk mmenentukan minat anda </p>

  <%= link_to "Temujanji", controller: 'contacts' %>
  <%= link_to "Jurutera", controller: 'jurutera' %>
  <%= link_to 'Back', new_user_session_url %>
